{% from 'bootstrap5/table.html' import render_table %}
{% extends "base.html" %}

{% block navbars %} {{ super() }} {% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="align-items-center justify-content-center row">
            <div class="card">
                <div class="card-body">
                    {{ 
                        render_table(
                            data, 
                            model=Author,
                            show_actions=True, 
                            edit_url=(
                                'edit_author', [('author_id',':id')]
                            ),
                            delete_url=(
                                'delete_author', [('author_id',':id')]
                            ),
                            new_url='/authors/add'
                        ) 
                    }}
                </div>
            </div>
    </div>
</div>
{% endblock %}
