{% from 'bootstrap5/table.html' import render_table %}
{% extends "base.html" %}

{% block navbars %} {{ super() }} {% endblock %}
<!-- Your page content -->
{% block content %}
<div class="container-fluid">
    <div class="align-items-center justify-content-center row">
            <div class="card">
                <div class="card-body">
                    {{ 
                        render_table(
                            data, 
                            model=Genre,
                            show_actions=True, 
                            edit_url=(
                                'edit_genre', [('genre_id',':id')]
                            ),
                            delete_url=(
                                'delete_genre', [('genre_id',':id')]
                            ),
                            new_url='/genres/add'
                        ) 
                    }}
                </div>
            </div>
    </div>
</div>
{% endblock %}