{% from 'bootstrap5/form.html' import render_form %}
{% from 'bootstrap5/utils.html' import render_messages %}
{% set post = user_post %}
{% extends "base.html" %}

{% block navbars %} {{ super() }} {% endblock %}

{% block content %}
{{ render_messages() }}
<div class="container-fluid">
    <div class="align-items-center justify-content-center row">
        <div class="align-self-center col-6 col-sm-5 col-md-4 mt-5">
            <div class="card">
                <div class="card-body">
                    {{ render_form(form) }}
                    <p></p>
                    <a class="btn btn-primary" href="/films" role="button">Назад</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}