{% from 'bootstrap5/table.html' import render_table %}
<!doctype html>
<html lang="en">

<head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    {% endblock %}

    <title>Cinema CRM</title>
    {% endblock %}
</head>

<body>
    <!-- Your page content -->
    {% block content %}
    <div class="container-fluid">
        <div class="align-items-center justify-content-center row">
            <div class="align-self-center col-6 col-sm-5 col-md-4 mt-5">
                <div class="card">
                    <div class="card-body">
                        {{ 
                            render_table(
                                data, 
                                model=Genre,
                                show_actions=True, 
                                edit_url=(
                                    'edit_genre', [('genre_id',':id')]
                                ),
                                delete_url=(
                                    'delete_genre', [('genre_id',':id')]
                                ),
                                new_url='/genres/add'
                            ) 
                        }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    {% block scripts %}
    <!-- Optional JavaScript -->
    {{ bootstrap.load_js() }}
    {% endblock %}
</body>

</html>